body {
    font-family: Arial, sans-serif;
    background-image: url('top-view-medicine-keyboard-arrangement_23-2149341566.avif');
    background-size: cover;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button[class="btn btn-primary"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[class="btn btn-primary"]:hover {
    background-color: #3e8e41;
}